article > *:not(.entry-content),
.entry-content > * {
  @apply mx-auto max-w-content;
}

.entry-content,
.block-editor-block-list__layout {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  p,
  ul,
  ol {
    a {
      @apply text-primary underline;

      &:hover {
        @apply no-underline;
      }
    }

    @apply mb-8;
  }

  ul:not(.block-editor-block-variation-picker__variations) {
    li {
      @apply list-disc list-inside;
    }
  }

  ol {
    li {
      @apply list-decimal list-inside;
    }
  }
}

.entry-content p {
  @apply mb-6;
}

/* BUTTON */
button {
  @apply transition-all duration-300 ease-in-out;
}
button a {
  @apply text-small leading-8;
}
.button-primary {
  @apply bg-primary px-4 py-1 text-white rounded-3xl font-bold hover:bg-secondary;
}
.button-secondary {
  @apply bg-secondary px-4 py-1 text-white rounded-3xl font-bold hover:bg-secondary;
}

/* IMAGES */
img {
  @apply object-cover;
}

/* HEADER */

.menu-item a {
  @apply link-underline font-bold;
}

.menu-item-has-children:hover ul {
  @apply block md:absolute;
}

.menu-item-has-children li {
  @apply ml-2 md:ml-0;
}

.menu-item-has-children:after {
  /* content: '˅'; */
  /* content: url('https://img.icons8.com/ios-filled/10/000000/expand-arrow--v1.png'); */
  /* font-size: 0.8em; */
  /* font-weight: bold; */
  content: url('https://img.icons8.com/external-those-icons-fill-those-icons/5/000000/external-down-arrows-those-icons-fill-those-icons-6.png');
  margin-left: 2px;
  position: relative;
  top: -2px;
}

.menu-item-has-children:after {
  @apply hidden md:inline-block;
}

.sub-menu {
  @apply block relative md:hidden md:bg-white md:p-4 md:border rounded-md;
}

.sub-menu a {
  @apply bg-none font-normal;
}

.current_page_item {
  @apply text-primary;
}

/* PAGINATION */
.page-numbers.current > span {
  @apply bg-primary text-white font-bold;
}
